<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InfoTech Menu</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <h2><a href="#">InfoTech</a></h2>
        <nav>
            <li><a href="#" id="nav-a">Hardwares</a></li>
            <li><a href="#" id="nav-a">Acessórios</a></li>
            <li><a href="#" id="nav-a">Notebooks</a></li>
            <li><a href="#" id="nav-a">Login</a></li>
        </nav>
    </header>

    <section class="slider">
        <div class="load"></div>
        <div class="content">
            <div class="main">
                <h1>InfoTech</h1>
                <h2>Cadastre-se agora e compre os produtos dos seus sonhos</h2>
                <a href="register.html" class="btn">Cadastre-se</a>
            </div>
        </div>
    </section>


</body>
</html>