<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlexBox WebSite</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>
<body>
    <section class="banner-area">
        <div class="banner-img"> </div>
        <img src="images/escalatorLogo.png" alt="Escalator Logo" class="escalatorLogo">
        <h1>we have ideas to growth your business</h1>
        <a href="#" class="banner-btn">See Now</a>
    </section>

    <section class="categories-area" id="categories">
        <h1 class="section-title">categories</h1>
        <h2 class="section-subtitle">discover new possibilities to help you today</h2>

        <div class="container">    
            <div class="img01">
                <img src="images/areaCategories01.jpg" alt="" id="image01">
                <label><h1 id="title-img01">nature</h1></label>
                <label><h2 id="subtitle-img01">Lorem ipsum dolor sit amet</h2></label>
            </div>
            <div class="img02">
                <img src="images/areaCategories02.jpg" alt="" id="image02">
                <label><h1 id="title-img02">daily</h1></label>
                <label><h2 id="subtitle-img02">Praesent tincidunt consectetur diam</h2></label>
            </div>
            <div class="img03">
                <img src="images/areaCategories03.jpg" alt="" id="image03">
                <label><h1 id="title-img03">together</h1></label>
                <label><h2 id="subtitle-img03">Vivamus non arcu tincidunt, tempus nunc eu, scelerisque ipsum</h2></label>
            </div>
            <div class="img04">
                <img src="images/areaCategories04.jpg" alt="" id="image04">
                <label><h1 id="title-img04">analysis</h1></label>
                <label><h2 id="subtitle-img04">Duis sollicitudin mauris vitae venenatis aliquet</h2></label>
            </div>
            <div class="img05">
                <img src="images/areaCategories05.jpg" alt="" id="image05">
                <label><h1 id="title-img05">pictures</h1></label>
                <label><h2 id="subtitle-img05">Quisque eu nisl purus</h2></label>
            </div>
        </div>
    </section>

    <section class="plans-area" id="plans">
        <h1 class="section-title">growth plans</h1>
        <h2 class="section-subtitle">take your business to the next level</h2>
        <div class="charts">
            <div class="bar-1">
                <div class="price-1">
                    <h1 class="title-price">&#x24; 100</h1>
                    <h2 class="subtitle-price">100 + hours</h2>
                </div>
                <div class="text-area1">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="bar-2">
                <div class="price-2">
                    <h1 class="title-price">&#x24; 150</h1>
                    <h2 class="subtitle-price">180 + hours</h2>
                </div>
                <div class="text-area2">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="bar-3">
                <div class="price-3">
                    <h1 class="title-price">&#x24; 200</h1>
                    <h2 class="subtitle-price">260 + hours</h2>
                </div>
                <div class="text-area3">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="bar-4">
                <div class="price-4">
                    <h1 class="title-price">&#x24; 250</h1>
                    <h2 class="subtitle-price">380 + hours</h2>
                </div>
                <div class="text-area4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="bar-5">
                <div class="price-5">
                    <h1 class="title-price">&#x24;  300</h1>
                    <h2 class="subtitle-price">420 + hours</h2>
                </div>
                <div class="text-area5">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="bar-6">
                <div class="price-6">
                    <h1 class="title-price">&#x24; 350</h1>
                    <h2 class="subtitle-price">520 + hours</h2>
                </div>
                <div class="text-area6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>                
            </div>
        </div>
    </section>
    <p id="final-page">For more informations</p>
    <a href="#" class="btn">Click Here</a>
    <footer>
        <p>All Right Reserved by ....</p>
    </footer>
</body>
</html>